vendor
.gitignore
.git
.gitattributes
.dockerignore
Dockerfile
node_modules
README.md
#storage/app/uploads
#storage/app/public/*
.idea
nginx
.editorconfig
package.json
package-lock.json
tailwind.config.js
postcss.config.js
components.json
compose.yaml
docker
resources/js
resources/css
tsconfig.json
vite.config.js
